manifest {
    name        = 'kcgmh-course/fastq-qc-demo'
    author      = 'KCGMH bioinformatics course'
    description = 'Minimal FastQC to MultiQC DSL2 teaching workflow'
    version     = '1.0.0'
    nextflowVersion = '>=25.10.0'
}

params {
    input  = 'data/samplesheet.csv'
    outdir = 'results'
}

process {
    executor      = 'local'
    errorStrategy = 'terminate'

    withLabel: fastqc {
        cpus      = 2
        memory    = '2 GB'
        container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
        conda     = 'bioconda::fastqc=0.12.1'
    }

    withLabel: multiqc {
        cpus      = 1
        memory    = '2 GB'
        container = 'quay.io/biocontainers/multiqc:1.30--pyhdfd78af_0'
        conda     = 'bioconda::multiqc=1.30'
    }
}

profiles {
    standard {
        process.executor = 'local'
    }

    docker {
        process.executor = 'local'
        docker.enabled = true
    }

    conda {
        process.executor = 'local'
        conda.enabled = true
    }
}

report {
    enabled   = true
    file      = "${params.outdir}/pipeline_info/execution_report.html"
    overwrite = true
}

timeline {
    enabled   = true
    file      = "${params.outdir}/pipeline_info/execution_timeline.html"
    overwrite = true
}

trace {
    enabled   = true
    file      = "${params.outdir}/pipeline_info/execution_trace.txt"
    overwrite = true
    fields    = 'task_id,hash,native_id,name,status,exit,realtime,%cpu,peak_rss,read_bytes,write_bytes'
}

dag {
    enabled   = true
    file      = "${params.outdir}/pipeline_info/pipeline_dag.html"
    overwrite = true
}
